# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../ex1-hello-jpa-study\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\study\ex1-hello-jpa-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
